.navbar .active{
    padding-bottom: 1px gray;
    border-bottom: 2px solid gray;
cursor: pointer;
}

@media (max-width:780px) {
    
    .navvar-menu{
        visibility: hidden;
    }

    .navbar-search-icon{
        max-width: 30px;
    }

    .navbar-right{
        min-width: 200px;
    }
}

.navbar-profile{

    position: relative;

}


.navbar-profile-dropdown{
    position: absolute;
    z-index: 1;
    right: 0;
    display: none;

}

.navbar-profile:hover .navbar-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fafafa;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
}
